:root {
  --primary-color: #243441;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#main-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  padding: 0 6vw;
}

#main-section>div {
  display: grid;
  grid-template-columns: 7fr 3fr;
  /* padding: 5vw 5vw 2.5vw 5vw; */
  justify-content: center;
  align-items: center;
}

#map {
  width: 55vw;
  height: 35vw;
  border-radius: 0.5rem;
  background: var(--primary-color);
  box-shadow: 9px 9px 18px #1b2630,
    -9px -9px 18px #2d4252;
}

canvas {
  border-radius: 0.5rem;
}

.title {
  padding: 1.5vw;
  text-align: center;
  box-shadow: 4px 4px 6px #1c2933,
    -5px -5px 7px #2c3f4f;
  border-radius: 5vw;
  margin-bottom: 5vw;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.latlon h3 {
  border-radius: 5rem;
  font-size: 1.7vw;
  box-shadow: inset 5px 5px 7px #1c2933,
    inset -5px -5px 7px #2c3f4f;
  padding: 1.5vw 3vw;
  margin-bottom: 4vw;
}

.latlon h3:last-child {
  margin-bottom: 0;
}

#creator {
  margin-top: 3vw;
  text-align: center;
  opacity: 0.4;
  font-size: 1vw;
  font-weight: 300;
}

#creator a {
  text-decoration: none;
  color: #ffffff;
}

#creator a:hover {
  text-decoration: underline;
}


/* For smallar devices */
@media (max-width: 1050px) {

  #main-section {
    height: 100%;
    padding: 10vw 6vw;
  }

  #main-section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #map-section {
    order: 2;
    width: 100%;
  }

  #map-info {
    order: 1;
    width: 100%;
  }

  .title {
    padding: 4vw;
    text-align: center;
    border-radius: 10vw;
    margin-bottom: 10vw;
    font-size: 5vw;
  }

  .latlon h3 {
    border-radius: 10rem;
    font-size: 5vw;
    padding: 3vw 6vw;
    margin-bottom: 4vw;
  }

  .latlon h3:last-child {
    margin-bottom: 8vw;
  }

  #map {
    width: 100%;
    height: 65vw;
    border-radius: 1rem;
    background: var(--primary-color);
    box-shadow: 9px 9px 18px #1b2630,
      -9px -9px 18px #2d4252;
  }

  #creator {
    margin-top: 6vw;
    font-size: 3vw;
  }
}